
.collection-archive-cont {
	width: 100%;
}

.collection-archive-cont .inner {
	width: 100%;
	margin: 0 1rem;
}

.collection-archive-cont .slick-slider {
	width: 100% !important;
}

.collection-archive-cont .slick-list {
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}

.collection-archive-cont .slick-track {
	width: 100% !important;
	display: flex;
}

.collection-archive-cont .slick-slide {
	display: block;
	box-sizing: border-box;
	padding: 0 !important;
	margin: 0 1rem !important;
}

.collection-archive h1 {
	margin: 0 1rem;
}

.swiper-button-prev,
.swiper-button-next {
	color: black;
	box-shadow: 1px solid black;
}

.collection-archive-cont .prose h3 {
	line-height: 125%;
}

