.collection-archive {
	/* width: 90%;
	margin: 0 auto; */
}

.collection-archive-cont h1 {
	margin-left: 1rem;
}

.collection-archive .header-title h1 {
	margin-left: 1rem;
}

.collection-archive-cont,
.collection-archive-cont .inner {
	width: 100%;
}

@media (max-width: 767px) {
	.collection-archive-cont {
		width: calc(100% - 2rem);
		margin-inline: auto;
	}
}

.collection-archive-cont .swiper-slide {
	/* margin: 0 1rem; */
}

.collection-archive-cont .card-cont {
	min-width: 380px;
}

@media (max-width: 767px) {
	.collection-archive-cont .card-cont {
		min-width: 0;
		width: 100%;
	}

	.collection-archive-cont .swiper-slide {
		box-sizing: border-box;
	}
}

.swiper-button-prev,
.swiper-button-next {
	color: black;
	box-shadow: 1px solid black;
}

.collection-archive-cont .prose h3 {
	line-height: 125%;
}

